PUBLIC_SITE_ORIGIN=
PUBLIC_OPERATOR_NAME=
PUBLIC_CONTACT_EMAIL=superphil722@gmail.com
PUBLIC_OPERATOR_REGION=Republic of Korea
PUBLIC_POLICY_EFFECTIVE_DATE=
PUBLIC_HOST_PROVIDER_NAME=
PUBLIC_HOST_PRIVACY_URL=
PUBLIC_HOST_LOG_RETENTION=
PUBLIC_GOVERNING_LAW=
PUBLIC_JURISDICTION=
PUBLIC_ADSENSE_PUBLISHER_ID=
PUBLIC_GA4_MEASUREMENT_ID=
PUBLIC_GOOGLE_CMP_ENABLED=false
